{% extends "bootstrap/base.html" %}
{% block content %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif, "phetsarath OT";
        }

    </style>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="col-12 border">
            <div class="row">
                <div class="col-md-7 ">
                    ຕິດຕັ້ງ Python version 3 ຂື້ນໄປ
                    <ul>
                        <li>
                            <a href="https://www.python.org/downloads" target="_blank">ດາວໂຫຼດ Python</a>
                        </li>
                    </ul>
                    ຕິດຕັ້ງ Library Python
                    <ul>
                        <li>
                            <a href="https://pypi.org/project/Flask/" target="_blank">ຕິດຕັ້ງ Flask</a>
                        </li>
                        <li>
                            <a href="https://pypi.org/project/opencv-python/" target="_blank">ຕິດຕັ້ງ OpenCV</a>
                        </li>
                        <li>
                            <a href="https://pypi.org/project/Flask-Bootstrap4/" target="_blank">ຕິດຕັ້ງ Bootstrap 4</a>
                        </li>
                        <li>
                            <a href="https://pypi.org/project/Flask-WTF/" target="_blank">ຕິດຕັ້ງ Flask WTF</a>
                        </li>
                        <li>
                            <a href="https://pypi.org/project/WTForms/" target="_blank">ຕິດຕັ້ງ Flask WTForms</a>
                        </li>
                        <li>
                            <a href="https://pypi.org/project/matplotlib/" target="_blank">ຕິດຕັ້ງ Matplotlib</a>
                        </li>
                        <li>
                            <a href="https://pypi.org/project/numpy/" target="_blank">ຕິດຕັ້ງ Numpy</a>
                        </li>
                    </ul>
                    Run Project
                    <ul>
                        <li>
                            <a href="https://github.com/ntajxyooj/computer-gv" target="_blank">ດາວໂຫຼດ Source Code</a>
                        </li>
                        <li>
                            ໃຊ້ commandline(CMD) ເຂົ້າຫາ path ທີເອົາ Source code ເກັບໄວ້ ແລ້ວ run ຄໍາສັ່ງ python app.py
                            <br/>
                            <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">ອ່ານເອກະສານເພີ່ມ
                                >>></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
