<nav class="navbar navbar-expand-sm bg-info navbar-inverse d-flex">
    <a class="navbar-brand " href="#">Computer Graphics and Vision</a>
    <button class="navbar-toggler navbar-toggler-right btn btn-danger" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active ml-auto">
                <a class="nav-link" href="/"> <i class="fa fa-cogs"></i> ວິທີການຕິດຕັ້ງ ແລະ Run</a>
            </li>
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle " href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-home"></i> ບົດຝືກຫັດ (ວຽກບ້ານ)
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                    style="background:#007bff; width: 250px !important;">
                    <li class="nav-item active"><a class="nav-link" href="/histogram">
                        <i class="fa fa-leaf"></i>
                        ບົດຝືກຫັດ (ວຽກບ້ານ)
                        2</a></li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="/threshold">
                            <i class="fa fa-leaf"></i>
                            ບົດຝືກຫັດ (ວຽກບ້ານ) 3</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="/equalization"><i class="fa fa-leaf"></i> ບົດຝືກຫັດ (ວຽກບ້ານ) 4</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="/stream"><i class="fa fa-leaf"></i> ບົດຝືກຫັດ (ວຽກບ້ານ) 5-6</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="/morphological"><i class="fa fa-leaf"></i> ບົດຝືກຫັດ (ວຽກບ້ານ) 7</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="/edge"><i class="fa fa-leaf"></i> ບົດຝືກຫັດ (Edge Detection) </a>
                    </li>
                    <!--<li class="dropdown-submenu">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#">Something else here</a>
                        <ul class="dropdown-menu" style="background: #007bff">
                            <a class="dropdown-item" href="#">A</a>
                            <a class="dropdown-item" href="#">b</a>
                        </ul>
                    </li>-->
                </ul>
            </li>
        </ul>
    </div>
</nav>