{% extends "layout.html" %}
{% block content %}
    <div id="particles">
        <div id="intro" class="h-100">
            <div class="container">
                {% include 'navbar.html' %}
                {% if session['template_img'] %}
                    {% include 'crop-img.html' %}
                {% endif %}
                <div class="col-12 border" id="bg">
                    <div class="row border-bottom pb-2">
                        <div class="col-md-4">
                            <form method="POST" action="/template-matching" enctype="multipart/form-data"
                                  id="form_id" class="pt-2">
                                <div class="input-group">
                                    <div class="input-group-append ">
                                        <a href="/cleantemplate"
                                           class="bg-danger btn text-white btn-sm float-right pt-2"><i
                                                class="far fa-trash-alt"></i> Clean</a>
                                    </div>
                                    <div class="custom-file">
                                        {{ form.photo(class_="custom-file-input", id="inputGroupFile03", onChange="javascript:document.forms['form_id'].submit()") }}
                                        <label class="custom-file-label" for="customFile">ເລືອກໄຟຣ Template</label>
                                    </div>

                                </div>
                                {% if form.errors %}
                                    <span class='errors text-danger'>
                                            {% for error in form.photo.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                {% endif %}
                                {{ form.csrf_token }}
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form method="POST" action="/matching" enctype="multipart/form-data"
                                  id="form_matching_id" class="pt-2">
                                <div class="input-group">
                                    <div class="custom-file">
                                        {{ form.photo(class_="custom-file-input", id="inputGroupFile03", onChange="javascript:document.forms['form_matching_id'].submit()") }}
                                        <label class="custom-file-label" for="customFile">ເລືອກໄຟຣ Matching</label>
                                    </div>

                                </div>
                                {% if form.errors %}
                                    <span class='errors text-danger'>
                                            {% for error in form.photo.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                {% endif %}
                                {{ form.csrf_token }}
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 pt-2 text-center ">
                            <div class="p-2 bg-info text-center text-white">Dataset (Template)</div>
                            {% if session['dataset_img'] %}
                                {% for name in session['dataset_img'] %}
                                <img src="static\dataset\{{ name }}" width="40" height="40">
                                {% endfor %}
                                {% else %}
                                <div class="row pt-2">
                                    <div class="col">
                                        <img src="static\default\no-image.jpg"
                                             class="rounded mx-auto d-block img-thumbnail img-fluid">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-4 pt-2">
                            <div class="p-2 bg-info text-center text-white">ຮູບພາບ Original</div>
                            {% if session['matching_img'] %}
                                <img src="static\photos\{{ session['matching_img'] }}"
                                     class="rounded mx-auto d-block img-thumbnail img-fluid">
                            {% else %}
                                <div class="row pt-2">
                                    <div class="col">
                                        <img src="static\default\no-image.jpg"
                                             class="rounded mx-auto d-block img-thumbnail img-fluid">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-4 pt-2">
                            <div class="p-2 bg-danger text-center text-white">
                                ຮູບພາບ Matching
                            </div>
                            {% if session['matched_img'] %}
                                <img src="static\photos\{{ session['matched_img'] }}"
                                     class="rounded mx-auto d-block img-thumbnail img-fluid">
                            {% else %}
                                <div class="row pt-2">
                                    <div class="col">
                                        <img src="static\default\no-image.jpg"
                                             class="rounded mx-auto d-block img-thumbnail img-fluid">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}